p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 80px;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 500px;
  top: 680px;
  background-color: lightblue;
  /* border-radius, 10px; */
}

h1 {
  position: absolute;
  left: 200px;
  top: 20px;
  text-align: center;
}

h2 {
  position: absolute;
  left: 150px;
  top: 70px;
  text-align: center;
}


/* .text {
font-weight:bold

} */
.xinput{  position: absolute;
left: 520px;
top: 520px;
background-color: orange;
/* padding: 5px 4px; */
/* width: 100px; */
}
.button {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
  border: blue;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
left: 150px;
top: 670px;
border-radius: 4px;

}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;}
